html {
	background: url('/images/background.jpg');
	background-size: cover;
}

.box-layout {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	text-align: center;
}

.box-layout__box {
  background: fade-out(white, .15);
  border-radius: 3px;
	margin: 80px;
  padding: $l-size $m-size;
	text-align: center;
	height: auto;
	width: 95%;
	max-width: 45rem;
	display: inline-block;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}

.created {
	width: 100%;
}

.portrait {
    height: 30em;
    width: 25em;
}

#tcup {
    width: 7em;
    height: 5em;
		padding: 1em;
}

.intro {
	font-size: 1.3em;
}

h1 {
	color: #04F0ED;
}

h2 {
	color: red;
}